{
  "extends": [
    "plugin:react/recommended",
    "standard-react",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-fragments": 0,
    "react/jsx-pascal-case": 0,
    "react/no-danger": "error"
  },
  "globals": {
    "fetch": false
  }
}
