{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "standard-react",
    "prettier",
    "prettier/standard",
    "prettier/react"
  ],
  "plugins": ["react-hooks"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": "error",
    "react/jsx-fragments": 0,
    "react/jsx-pascal-case": 0,
    "react/no-danger": "error",
    "react/no-deprecated": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "globals": {
    "fetch": false,
    "history": false
  }
}
