.root {
  margin-bottom: 40px;
}

.title {
  color: rgba(255, 255, 255, 0.3);
  font-size: 40px;
  font-weight: 800;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 -10px;
}

.item {
  flex: 0 0 33.33%;
  padding: 5px;
}

.item a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.item a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #252525;
}

@media screen and (max-width: 767px) {
  .root {
    flex-direction: column;
    margin: 0 -5px;
  }

  .item {
    flex: 1;
    padding: 10px 0;
  }

  .item a {
    font-size: 22px;
  }
}
