.root {
  margin: 0 auto;
  max-width: 1080px;
  padding: 120px 60px;
}

.title {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .root {
    max-width: 100%;
    padding: 60px 20px 20px;
  }

  .title {
    font-size: 44px;
    margin-top: 40px;
  }
}
