.root {
  padding: 20px 180px;
  width: 100%;
}

.content {
  font-size: 60px;
  font-weight: bolder;
  line-height: 1.2;
  width: 100%;
}

.largeText .content {
  font-size: 42px;
}

.meta,
.item {
  align-items: center;
  display: flex;
  line-height: 1;
}

.meta {
  font-size: 12px;
  padding: 30px 0 0;
  text-transform: uppercase;
}

.item {
  padding: 0 10px;
}

.item:first-child {
  padding-left: 0;
}

.item:last-child {
  padding-right: 0;
}

.item a {
  color: inherit;
  display: inline-block;
  margin: 0 4px;
  padding: 4px;
  text-decoration: none;
  transition: color 0.1s linear, background-color 0.1s linear;
}

.item a:hover {
  background-color: #fff;
  color: #252525;
}

.item a:first-child {
  margin-left: 0;
}

.item a:last-child {
  margin-right: 0;
}

.item:last-child:not(:first-child) {
  margin-left: 15px;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .root {
    padding: 20px;
  }

  .content {
    font-size: 42px;
  }

  .largeText .content {
    font-size: 32px;
  }

  .meta {
    text-align: left;
  }
}
