.root {
  align-items: center;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  color: #252525;
  display: flex;
  font-size: 12px;
  left: 30px;
  line-height: 1;
  opacity: 0;
  padding: 5px 10px;
  position: fixed;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 2;
}

.root.hasClear {
  padding-right: 25px;
}

.clear {
  color: #252525;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 1px;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
