:root {
  --share-icon-size: 32px;
}

.root {
  bottom: 0;
  display: flex;
  flex-direction: column;
  opacity: 0.6;
  padding: 0 20px 20px 0;
  position: fixed;
  right: 0;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.2s;
  z-index: 10;
}

.root:hover {
  opacity: 1;
}

.button {
  align-items: center;
  animation-delay: 1.3s;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: slideInRight;
  border: 1px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 1px 0 transparent;
  cursor: pointer;
  display: flex;
  height: var(--share-icon-size);
  justify-content: center;
  margin-bottom: 12px;
  position: relative;
  transition: background-color 0.2s ease;
  width: var(--share-icon-size);
}

.button:last-child {
  margin-bottom: 0;
}

.button:nth-child(2) {
  animation-delay: 1.4s;
}

.button:nth-child(3) {
  animation-delay: 1.5s;
}

.button:nth-child(4) {
  animation-delay: 1.6s;
}

.button path {
  fill: #fff;
}

.button:hover {
  background-color: #fff;
  opacity: 1;
}

.button:hover path {
  fill: #252525;
}

.linkedIn svg {
  transform: translateX(1px);
}

.copied {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: slideInRightCopied;
  background-color: #252525;
  border-radius: 3px;
  color: #fcfcfc;
  font-size: 13px;
  font-weight: 600;
  left: -110px;
  padding: 3px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}

@media screen and (max-width: 767px) {
  .copied {
    animation-name: slideInUpCopied;
    bottom: 40px;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRightCopied {
  from {
    opacity: 0;
    transform: translate3d(-10px, -50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-5px, -50%, 0);
  }
}

@keyframes slideInUpCopied {
  from {
    opacity: 0;
    transform: translate3d(-50%, 10px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
}
