.root {
  width: 100%;
}

.quote {
  align-items: center;
  background-color: #021626;
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.count {
  color: #fff;
  font-size: 13px;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 2;
}
